$primary: hsla(248, 53%, 46%, 1);
$primary-light: hsla(248, 74%, 58%, 1);
$primary-transparent: rgba(90, 69, 227, 0.7);
$icon-primary: hsla(248, 82%, 29%, 1);
$hightlight: hsla(0, 69%, 49%, 1);
$secondary: hsla(208, 7%, 46%, 1);
$secondary-light: hsla(0, 0%, 93%, 1);
$font-primary: hsla(0, 0%, 100%, 1);
$font-secondary: hsla(0, 0%, 15%, 1);
$bag-icon: './../../icons/bag.svg';
$cart-icon: './../../icons/cart.svg';
$search-icon: './../../icons/search.svg';